/* CELL PHONE VIEW */
@media only screen and (min-width: 374px) {
  #main_wrapper #skills_list {
    grid-template-columns: repeat(2, 1fr);
  }

  .card .card_header::before {
    left: 25%;
    width: 75%;
  }
}

/* TABLET VIEW */
@media only screen and (min-width: 768px) {
  .card {
    max-width: 500px;

    .card_header::before {
      left: 20%;
      width: 80%;
    }

    &.xl {
      max-width: 600px;
    }
  }

  #main_wrapper {
    padding-top: 6rem;

    #skills_list {
      gap: 2rem;

      .skill {
        padding: 2rem;

        h2 {
          font-size: .95rem;
          display: inline;
        }

      }
    }

    #skills_list {
      grid-template-columns: repeat(3, 1fr);
    }

    #gallery_grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

/* DESKTOP VIEW */
@media only screen and (min-width: 979px) {
  #navbar {
    justify-content: center;
  }

  #navbar #links {
    display: flex;
  }

  #navbar #dropdown {
    display: none;
  }

  .card {
    max-width: 600px;

    &.xl {
      max-width: 900px;
    }
  }

  #main_wrapper #gallery_grid {
    grid-template-columns: repeat(4, 1fr);
  }
}