*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  --accent: #73a6ff;
  --accent_hover_color: #4d7cff;
  --accent_hover_color_text_color: #ffffff;
  --Secondary: #676767;
  --card_color: #d9d9d9;
  --text_color: #000;
  --bg_color: #fff;
  --ui_text_color: #fff;

  scroll-behavior: smooth;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  color: var(--text_color);
  background-color: var(--bg_color);

  &.dark_mode {
    --accent: #0d49b1;
    --accent_hover_color: #73a6ff;
    --accent_hover_color_text_color: #000;
    --Secondary:  #333;
    --card_color: #555;
    --text_color: #dadada;
    --bg_color: #222;
    --ui_text_color: #dadada;

    .fab :first-child {
      display: none;
    }

    .fab :last-child {
      display: flex;
    }
  }
}

section {
  scroll-margin-top: 6rem;
}

a {
  color: var(--ui_text_color);
}

/* Utility Classes*/
.center_text {
  text-align: center;
}

.spacer {
  flex-grow: 1;
}

.card {
  background-color: var(--card_color);
  border-radius: 0.25rem;
  margin: 0rem auto 4rem;
  filter: drop-shadow(7px 7px 12px rgba(0, 0, 0, 0.25));

  .card_header {
    /* background-color: var(--Secondary); */
    position: relative;
    color: var(--text_color);
    padding: 1rem;
    height: 4rem;

    &::before {
      content: "";
      position: absolute;
      border-color: var(--Secondary);
      border-style: solid;
      border-width: 2rem;
      top: 0;
      left: 40%;
      width: 60%;
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 10% 100%);
      clip-path: polygon(0 0, 100% 0, 100% 100%, 10% 100%);
    }

    h2 {
      margin: 0;
    }
  }
  .card_content {
    padding: 1rem;
  }
}

/* Floating Action Button */
.fab {
  --_sice: 2rem;

  display: flex;
  position: fixed;
  border: none;
  background-color: var(--accent);
  padding: calc(var(--_sice) / 2);
  border-radius: 50%;
  z-index: 10;
  top: 6rem;
  right: 2rem;

  &:hover {
    background-color: var(--accent_hover_color);
    cursor: pointer;
  }

  & .icon {
    inline-size: var(--_sice);
    block-size: var(--_sice);
  }

  & .icon:last-child {
    display: none;
  }
}

/* Navbar Styling*/

#navbar {
  display: flex;
  position: fixed;
  justify-content: flex-end;
  /* flex-direction: row; */
  align-items: center;
  background-color: var(--Secondary);
  color: var(--ui_text_color);
  padding: 0rem 2rem;
  width: 100vw;
  min-height: 4rem;
  top: 0;
  z-index: 20;
  border-bottom: 4px solid var(--accent);

  #navbar_brand {
    flex-grow: 1;

    h1 {
      color: var(--ui_text_color);
      font-weight: bolder;
      text-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
      font-size: 2rem;
      position: absolute;
      margin: 0;
      padding: 0;
      top: 0.75rem;
      left: 2rem;
    }
  }
  #links {
    display: none;
    justify-content: center;
    flex-grow: 1;

    #navbar_links {
      /* display: none; */
      list-style: none;
      padding: 0;
      margin: 0;

      .navbar_link {
        display: inline-block;
        background-color: var(--accent);
        padding: 0.5rem 2rem;
        margin: 0rem 1rem;
        border-radius: 0.75rem;
      }
    }
  }
  #dropdown {
    #dropdown_btn {
      font-size: 4rem;
      background: inherit;
      font-family: inherit;
      border: none;
      outline: none;
      color: white;
      margin: 0;
    }

    #dropdown_links {
      display: none;
      position: absolute;
      list-style: none;
      position: absolute;
      background-color: #73a6ff;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.438);
      min-width: 160px;
      padding: 0;
      margin: 0;
      left: 0;
      z-index: 11;

      .dropdown_link {
        display: block;
        padding: 0.5rem 2rem;
        text-align: center;
        width: 100vw;

        &:hover {
          background-color: #676767;
        }
      }
    }

    &:hover #dropdown_links {
      display: block;
    }
  }
}
/*Main*/
#main_wrapper {
  padding: 12rem 2rem 6rem;

  #skills_list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;

    .skill {
      background-color: var(--accent);
      padding: 1rem;
      text-align: center;
      border-radius: 0.5rem;
      box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.25);
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  #gallery_grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;

    .gallery_img {
      max-width: 100%;

      &:hover {
        cursor: pointer;
        filter: brightness(0.8);
        opacity: 0.8;
        transition: all 0.3s ease-in-out;
      }
    }
  }
}

#footer {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--Secondary);
  border-top: 4px solid var(--accent);
  color: var(--ui_text_color);
  width: 100vw;
  padding: 0 2rem;
  bottom: 0;
}
